.footer {
  background-image: url("https://bizweb.dktcdn.net/100/415/010/themes/844269/assets/bg_footer.jpg?1646286260817");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 120px 0 32px;
}
